<div class="login-form">
    <mat-card>
        <mat-card-content>
            <h1>Login</h1>
            <form [formGroup]="loginForm" (submit)="onLogin()">

           
            <mat-form-field class="full-width-input">
                <input matInput formControlName="username" placeholder="Username" required type="text">
            </mat-form-field>
            <mat-form-field class="full-width-input separator">
                <input matInput formControlName="password" placeholder="Password" required type="password">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Login</button>
        </form>
        </mat-card-content>
    </mat-card>
</div>